* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

h1 {
    margin-bottom: 3rem;
}

.header--container, .footer--container {
    width: 100vw;
}

.header--container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* */
/* Menu */

.menu--container {
    height: 50px;
    width: 100%;
    background: lightblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
}

.menu__item {
    color: #ffffff;
    text-decoration: none;
}

.login--container {
    background: #ffffff;
    padding: 1rem;
    width: 200px;
}

.header--content--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../img/color-2326315_1920.jpg");
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 75vh;
    padding: 4rem 0;

    -webkit-transition: height 1s ease-out;
    -moz-transition: height 1s ease-out;
    transition: height 1s ease-out;
}

.header--content--container.collapse {
    height: 20vh;
}


.search--container {
    width: 75vw;
}

.search--input__label {
    display: block;
}

.search--input {
    width: 80%;
    padding: 0.8rem;
    font-size: 1.5rem;
    border: none;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
    border-radius: 0.2rem;
}


/* */
/* Main Content */
/* */

.main--container {
    max-width: 90vw;
}

.photo--container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
}

.photo--container li {
    margin: 0.5rem;
    width: 150px;
    height: 150px;
    background: lightsalmon;
}

.largeIMG--container {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
}

.largeIMG {
    background: #ffffff;
    padding: 1rem;
    box-shadow: 0 0 20px #000000;
    display: flex;
    flex-direction: column;
    border-radius: 0.2rem;
}

.close__btn {
    background: #000000;
    color: #ffffff;
    border: 1px solid #ffffff;
    font-weight: bold;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    position: relative;
    top: -30px;
    right: 0px;
}

.footer--container {
    background: #360A5F;
    padding: 2rem;
}

.footer--sitemap {
    display: grid;
    grid-template-areas: 'site legal'
    'siteHelp legal';
}

.footer--sitemap--site {
    grid-area: site;
}

.footer--sitemap--help {
    grid-area: siteHelp;
}

.footer--sitemap--legal {
    grid-area: legal;
}

.footer--sitemap--nav {
    list-style-type: none;
}

/* */
/* Buttons */
/* */
.backToTop__btn {    
    position: fixed;
    bottom: 30px;
    right: 20px;
}

.close__btn {
    background: #000000;
    color: #ffffff;
    border: 1px solid #ffffff;
    font-weight: bold;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    position: relative;
    top: -30px;
    right: 0px;
}

.button {
    width: 50px;
    height: 50px;
    font-size: 1.8rem;

    background: #FF7F6C;
    color: #ffffff;
    border: 4px solid #FF7F6C;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    border-radius: 50px;
}
.button:hover {
    background: #E63261;
    color: #ffffff;
    border: 4px solid #E63261;
}
.button:active {
    background: #CE1A57;
    color: #ffffff;
    border: 4px solid #CE1A57;
}


/* */
/* Loader */
/* */
