* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 3rem;
    color: #ffffff;
    text-shadow: 1px 1px 1px #360A5F, 2px 2px 1px #360A5F, 3px 3px 1px #360A5F, 4px 4px 2px #360A5F, 5px 5px 1px #360A5F, 5px 5px 0 #360A5F;
}

h1 a {
    color: #ffffff;
    text-decoration: none;
}

.header--container, .footer--container {
    width: 100%;
}

.header--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../img/color-2326315_1920.jpg");
    background-size: cover;
    background-position: center center;

}

/* */
/* Menu */

.menu--container {
    height: 70px;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    font-size: 1.2rem;
}

.menu--wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.login--container {
    background: #ffffff;
    padding: 1rem;
    width: 200px;
}

.hamburger__menu {
    display: none;
}


.header--content--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 75vh;

    -webkit-transition: height 1s ease-out;
    -moz-transition: height 1s ease-out;
    transition: height 1s ease-out;
}

.header--content--container.collapse {
    height: 20vh;
}

.search--container {
    width: 75vw;
    max-width: 720px;
}

.search--input__label {
    display: block;
    margin-left: 25px;
}

.search--input {
    width: 80%;
    padding: 0.8rem 1.5rem;
    font-size: 1.5rem;
    border: none;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
    border-radius: 50px;
}


/* */
/* Main Content */
/* */

.main--container {
    max-width: 90vw;
    position: relative;
}

.photo--container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
}

.photo--container li {
    margin: 0.5rem;
    width: 150px;
    height: 150px;
}
.photo--container li:hover {
    cursor: pointer;
}

.largeIMG--container {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
}

.largeIMG {
    background: #ffffff;
    padding: 1rem;
    box-shadow: 0 0 20px #000000;
    display: flex;
    flex-direction: column;
    border-radius: 0.2rem;
    position: relative;
}

.largeIMG img {
    max-width: 80vw;
    max-height: 80vh;
}

.footer--container {
    background: #360A5F;
    padding: 2rem;
}

.footer--container article {
    margin: 0.8rem 0;
}

.footer--container li {
    margin: 0.5rem 1rem;
}

.footer__heading {
    color: #ffffff;
    text-shadow: 1px 1px 1px #CE1A57, 2px 2px 0 #CE1A57;
}

.footer--sitemap {
    display: grid;
    grid-template-areas: 'site legal'
    'siteHelp legal';
}

.footer--sitemap--site {
    grid-area: site;
}

.footer--sitemap--help {
    grid-area: siteHelp;
}

.footer--sitemap--legal {
    grid-area: legal;
}

.footer--sitemap--nav {
    list-style-type: none;
}

/* Menu links */
.menu__link {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.2s;
}
.menu__link:hover {
    color: #FF7F6C;
}


/* */
/* Buttons */
/* */
.backToTop__btn {    
    position: fixed;
    bottom: 30px;
    right: 20px;
}

.close__btn {
    position: absolute;
    top: -25px;
    right: -25px;
}

.button {
    width: 50px;
    height: 50px;
    font-size: 1.8rem;

    background: #FF7F6C;
    color: #ffffff;
    border: 4px solid #FF7F6C;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.5s, border-color 0.5s;
}
.button:hover {
    background: #E63261;
    color: #ffffff;
    border: 4px solid #E63261;
}
.button:active {
    background: #CE1A57;
    color: #ffffff;
    border: 4px solid #CE1A57;
}

.button--long {
    padding: 0.5rem 1rem;
    border-radius: 50px;
    border: 2px solid;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}

.button--long.filled {
    background: #FF7F6C;
    color: #ffffff;
    border-color: #FF7F6C;
    transition: background-color 0.5s, border-color 0.5s;
}
.button--long.filled:hover {
    background: #E63261;
    color: #ffffff;
    border-color: #E63261;
}

.button--long.unfilled {
    background: #ffffff;
    color: #FF7F6C;
    border-color: #FF7F6C;
    transition: background-color 0.3s, border-color 0.5s, color 0.3s;
}
.button--long.unfilled:hover {
    background: #FF7F6C;
    color: #ffffff;
    border-color: #ffffff;
}


/* */
/* Loader */
/* */

.fade {
    opacity: 0.3;
}

.loader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.loader span {
    display: block;
    background: #ffffff;
    width: 20px;
    height: 80px;
    margin: 0 5px;
    animation: loading2 1s infinite;
}

.loader--hidden {
    display: none;
}

.loader span:nth-child(2) {
    animation-delay: 0.125s;
}

.loader span:nth-child(3) {
    animation-delay: 0.25s;
}

.loader span:nth-child(4) {
    animation-delay: 0.375s;
}

.loader span:nth-child(5) {
    animation-delay: 0.5s;
}


@keyframes loading2 {
    0% {
        box-shadow: 0 -10px 10px 2px #CE1A57;
        transform: scale(1, 1);
    }
    50% {
        box-shadow: 0 10px 10px 2px #360A5F;
        transform: scale(1.1, 1.1);
    }
    100% {
        box-shadow: 0 -10px 10px 2px #CE1A57;
        transform: scale(1, 1);
    }
}


/* mobile */
@media screen and (max-width: 850px) {
    .menu--container {
     height: auto;
     display: flex;
     justify-content: space-around;
     padding: 0.5rem;
    }

    .menu--wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .menu__item:nth-child(1) {
        margin-top: 1.5rem;
    }

    .menu__item {
        margin-bottom: 1rem;
    }
    
    .menu__hidden {
        display: none;
    }
    
    h1 {
        font-size: 1.5rem;
        order: -1;
    }

    .hamburger__menu {
        display: block;
        font-size: 2rem;
        color: #ffffff;
        align-self: flex-start;
    }
}